body{
  background-color: #fcfcfc;
}
.container{
  box-shadow: 0 0 100px #888888;
}
#header{
  padding-top:15px;
  padding-bottom:15px;
  background: #eee;
}
#logo img{
  height: 35px;
}
.input-group {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.green {
  color: #5cb85c;
}
.red {
  color: #d9534f;
}
