<div class="row">
  <div class="col-md-6 col-md-offset-3 feature-box">
    <h3>Test your blog post's SEO</h2>
    <p>Find out how well optimized for search engines your blog post is.</p>
    <img id="generate-report-demo" src="/assets/how-to-generate-seo-report.gif">
    <div id="how-it-works-list">
      <p>Here's how it works:</p>
      <div class="row">
        <div class="col-md-4 how-it-works-list">
          <h3>1.</h3> Enter the URL of the blog post you want to test.
        </div>
        <div class="col-md-4 how-it-works-list">
          <h3>2.</h3> Enter the keyword you are optimizing for.
        </div>
        <div class="col-md-4 how-it-works-list">
          <h3>3.</h3> Click generate.
        </div>
      </div>
    </div>
  </div>
</div>
