<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Ruby Seo Tools</title>
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/red-theme.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/favicon.png">
</head>
<body ng-controller="MainCtrl as main" md-theme="red">

  <form ng-submit="main.generateAudit()" novalidate>
    <div class="form-group">
      <label>url</label>
      <input type="text" class="form-control" ng-model="main.url" placeholder="Enter url">
    </div>
    <div class="form-group">
      <label>keyword</label>
      <input type="text" class="form-control" ng-model="main.keyword" placeholder="Enter keyword">
    </div>
    <button type="submit" class="btn btn-info btn-lg">Create</button>
  </form>

  {{main.results}}



  <script src="/bower_components/angular/angular.min.js" type="text/javascript" charset="utf-8" async defer></script>

  <script src="/js/app.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>
